# Nota

Este notebook serve para exercutar o código organizado nos diferentes ficheiros, usamos o `dev` para fazer o desenvolvimento pois é mais rápido para testar mas depois organizamos o código em diferentes ficheiros e fazemos as chamadas aqui em `main`.

In [ ]:
# Importing necessary libraries
import pandas as pd

In [ ]:
# Importing classes of the project

# Data Analysis Classes
from data_analysis.database import KagglehubSQLiteLoader
from data_analysis.analizer import TripDataAnalizer
from data_analysis.preprocessor import DataPreprocessor
from data_analysis.cleaner import DataCleaning

# EDA classes
from eda.eda import EDA
from eda.visualization import DataVisualization
from eda.featureAnalysis import FeatureAnalysis

# Statistical Analysis classes
from statistical_analysis.hypothesisTesting import HypothesisTesting

In [ ]:
### Generate dataset to work with in following phases ###

# Load all 12 SQLite databases with data from all months
dataframes = []

for i in range(1,13):
    file = f"\\2019\\2019-{i:02}.sqlite"
    data = KagglehubSQLiteLoader("dhruvildave/new-york-city-taxi-trips-2019", file)

    # Random sample those databases to get a general sample with data from all of them
    df = data.get_table_dataframe_random_sample('tripdata', percentage=0.05)
    dataframes.append(df)

# Join all the samples in a single dataframe
df = pd.concat(dataframes, ignore_index=True)

In [11]:
# Apply Analysis
analizer = TripDataAnalizer(df, "fare_amount")

# Apply Preprocessing
proprocessor = DataPreprocessor(analizer)

# Apply Clean up
cleaner = DataCleaning(analizer)

# Save it

KeyError: 'tpep_pickup_datetime'

In [14]:
analizer.data_train

,vendorid,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,extra,mta_tax,...,pickup_hour,pickup_day_of_week,pickup_day_of_month,pickup_month,dropoff_hour,dropoff_day_of_week,dropoff_day_of_month,dropoff_month,trip_duration_min,average_speed_mph
4018703,1.0,1.0,0.70,1.0,N,237.0,236.0,2.0,3.5,0.5,...,16,3,12,12,16,3,12,12,5.683333,7.390029
4141019,1.0,1.0,0.50,1.0,N,255.0,256.0,2.0,0.5,0.5,...,1,6,22,12,1,6,22,12,2.183333,13.740458
1282286,2.0,3.0,0.59,1.0,N,148.0,148.0,1.0,0.5,0.5,...,0,5,13,4,0,5,13,4,13.950000,2.537634
3092048,2.0,1.0,1.79,1.0,N,162.0,79.0,1.0,1.0,0.5,...,17,0,23,9,18,0,23,9,9.033333,11.889299
2738574,1.0,1.0,1.50,1.0,N,100.0,237.0,1.0,3.0,0.5,...,6,2,21,8,6,2,21,8,7.216667,12.471132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224644,2.0,1.0,1.13,1.0,N,229.0,141.0,1.0,0.0,0.5,...,11,5,19,1,11,5,19,1,4.933333,13.743243
732338,2.0,1.0,1.02,1.0,N,48.0,186.0,1.0,0.5,0.5,...,22,3,28,2,22,3,28,2,8.433333,7.256917
2997766,2.0,1.0,0.83,1.0,N,164.0,50.0,1.0,0.0,0.5,...,11,6,15,9,11,6,15,9,8.516667,5.847358
2241056,2.0,1.0,1.86,1.0,N,161.0,113.0,1.0,1.0,0.5,...,19,1,2,7,19,1,2,7,12.783333,8.730117
1105618,2.0,1.0,1.46,1.0,N,186.0,113.0,1.0,0.0,0.5,...,10,5,30,3,10,5,30,3,6.900000,12.695652